
<div class="container" style="padding-top:60px;">  
  <div class="row">  
    <div class="col-md-6 mx-auto">  
      <div class="card-group">  
        <div class="card p-4">  
          <div class="card-body">  
              <h1 style="text-align:center;color:blue">Welcome to Sabre pay</h1> 
          </div>
          <div class="input-group mb-3">  
              <a [routerLink]="['/register']" class="btn btn-link">Back</a>
            </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>
     
